.store-page {
  background-color: #f2f2f2;
  overflow-x: hidden;
}

.store {
  display: flex;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-left: 150px;
  margin-top: 30px;
}
