.main-profile {
  display: flex;
}

.sidebar {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.sidebar li {
  margin-left: 20px;
}

.sidebar li:hover {
  opacity: 0.4;
  cursor: pointer;
}

.profile-info {
  margin-top: 30px;
}

.profile-info h3 {
  font-size: 25px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
}

.info-cart {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-cart input {
  width: 300px;
  height: 30px;
}

.gender {
  display: flex;
  justify-content: space-between;
}

.selection-gender {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

.Date-birth {
  display: flex;
  justify-content: space-between;
}

.Date-birth select {
  width: 100px;
  height: 30px;
  font-size: 15px;
}

.save-info {
  height: 40px;
  cursor: pointer;
  background-color: #013b45;
  border: none;
  color: white;
}

.save-info:hover {
  opacity: 0.9;
}

.mail {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 450px;
  margin-left: 50px;
}

.mail div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 41px;
}

.mail div:first-child {
  margin-top: 99px;
}

.mail div input {
  width: 285px;
  height: 30px;
}

.active {
  opacity: 0.4;
}
