@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100vw;
}

* {
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Exo 2", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
